version: "3.8"

services:
  espocrm:
    image: espocrm/espocrm:latest
    container_name: espocrm-app
    environment:
      DB_TYPE: pgsql
      DB_DRIVER: pgsql
      DB_HOST: postgres
      DB_NAME: postgres
      DB_USER: postgres
      DB_PASSWORD: Javielsker44@@
      DEFAULT_LANGUAGE: en_US
      TIMEZONE: UTC
      # Add other EspoCRM environment variables here if needed
    depends_on:
      - postgres
    ports:
      - "8090:80"
    volumes:
      - espocrm_data:/var/www/html/data

  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Javielsker44@@
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  espocrm_data:
  postgres_data:
