version: "3.8"

services:
  espocrm:
    image: espocrm/espocrm:latest
    container_name: espocrm-app
    environment:
      DB_TYPE: mysql
      DB_DRIVER: pdo_mysql
      DB_HOST: mariadb      # service name
      DB_NAME: mariadb      # database name
      DB_USER: mariadb      # db user
      DB_PASSWORD: Javielsker44@@
      DEFAULT_LANGUAGE: en_US
      TIMEZONE: UTC
    depends_on:
      - mariadb
    ports:
      - "8090:80"    # change if port is not free
    volumes:
      - espocrm_data:/var/www/html/data

  mariadb:
    image: mariadb:11
    container_name: mariadb-db
    environment:
      MARIADB_ROOT_PASSWORD: Javielsker44@@
      MARIADB_DATABASE: mariadb
      MARIADB_USER: mariadb
      MARIADB_PASSWORD: Javielsker44@@
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  espocrm_data:
  mariadb_data:
